argparse-addons==0.12.0
asammdf==7.3.14
attrs==23.1.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.12.2
bitstruct==8.17.0
cairocffi==1.5.1
CairoSVG==2.7.0
can==0.0.0
canmatrix==1.0
cantools==38.0.2
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
crccheck==1.3.0
cssselect2==0.7.0
defusedxml==0.7.1
diskcache==5.4.0
exceptiongroup==1.1.1
future==0.18.3
html5lib==1.1
iniconfig==2.0.0
isal==1.2.0
Jinja2==3.1.2
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
MarkupSafe==2.1.2
msgpack==1.0.5
natsort==8.4.0
numexpr==2.8.5
numpy==1.24.3
packaging==23.0
pandas==2.0.1
pdf-reports==0.3.4
Pillow==9.5.0
pluggy==1.0.0
psutil==5.9.5
pycparser==2.21
pyphen==0.14.0
pypugjs==5.9.12
pyqtgraph==0.13.3
pyqtlet2==0.9.3
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
pytest==7.3.1
python-can==4.2.2
python-dateutil==2.8.2
pytz==2023.3
QtPy==2.3.1
shiboken6==6.3.1
six==1.16.0
soupsieve==2.4.1
textparser==0.24.0
tinycss2==1.2.1
tomli==2.0.1
typing_extensions==4.5.0
tzdata==2023.3
WeasyPrint==52
webencodings==0.5.1
wrapt==1.15.0
